<style>
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

  .example-radio-button {
    margin: 5px;
  }
</style>


<form #browserDefaultsForm="ngForm"
      ngNativeValidate>
  <section  class="causes-section overlay">
    <div class="container">
      <div class="kode-cause" style="color: #d0005e">
        <br><br><br><br>
        <div class="row-cols-md-6" >
          <div class="col-md-7">
            <div cFormFloating>
                    <input
                      cFormControl
                      id="name"
                      placeholder="Enter Name "
                      [(ngModel)]="r.name"
                      [ngModelOptions]="{standalone: true}">
              <label cLabel for="Description">Reclamation Name</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="kode-range">
                <mat-form-field  appearance="outline">
                  <mat-select  [(ngModel)]="r.type" [ngModelOptions]="{standalone: true}"
                               (ngModelChange)="getTargets(r.type)" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let t of type" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                  <mat-label>Type</mat-label>
                  <mat-hint>Please pick up your reclamation type here</mat-hint>
                </mat-form-field>

            </div>
          </div>
        </div>

<!--        <div [ngSwitch]="r.type">-->
<!--          <div *ngSwitchCase="'CLUB'">CLUB reclamation</div>-->
<!--          <div *ngSwitchCase="'EVENT'">EVENT reclamation</div>-->
<!--          <div *ngSwitchCase="'EVENT'">Other reclamation</div>-->
<!--        </div>-->
<!--        style="background-color: rgba(16,1,156,0.31);border: 2px solid;"-->
        <div id="reclamationTypeForm" class="kode-cause">
          <br><br>
        <div class="heading heading-4">
          <h2 id="reclamationTypeHeader" style="color: #fff;"></h2>
        </div>
        <div class="row-cols-md-6">
          <div class="col-md-6">
            <div class="kode-range">
              <mat-form-field appearance="outline">
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="r.target" name="targets" required>
                  <mat-option *ngFor="let t of targets" [value]="t">
                    {{t}}
                  </mat-option>
                </mat-select>
                <mat-label>Target</mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-8">
            <div cFormFloating>
                    <textarea
                      cFormControl
                      id="Description"
                      rows="8"
                      style="min-height: 100px;max-height: 400px"
                      placeholder="Enter Description "
                      [(ngModel)]="r.description"
                      [ngModelOptions]="{standalone: true}">
                    </textarea>
              <label cLabel for="Description">Reclamation Description</label>
              <br><br><br>

            </div>

          </div>
        </div>
          <!--                        <div class="col-md-6">-->

          <!--                        </div>-->
          <!--                        <div class="col-md-6">-->

          <!--                        </div>-->
        </div>
        <button cButton class="me-1" color="primary" type="submit" class="me-1 active btn btn-outline-primary"
                aria-pressed="true" variant="outline" (click)="addReclamation(r)">
          Submit
        </button>
        <button cButton variant="outline" class="me-1 btn btn-outline-secondary"
                type="reset">
          Reset
        </button>
      </div>
    </div>

  </section>

  <br><br>


  <br>

</form>

<ng-template #dialogRef style="background-color: #ac2925">
  <h1 mat-dialog-title>{{isSending ? "Sending" : "Finished"}}</h1>
  <mat-option *ngIf="isSending" class="is-loading">
    <mat-spinner diameter="50"></mat-spinner>
  </mat-option>
  <h2 *ngIf="!isSending" mat-dialog-content>{{sent ? "Successfully Added" : "Add Failed"}}</h2>
  <div *ngIf="!isSending" mat-dialog-actions>
    <button class="btn btn-primary" mat-button mat-dialog-close>Close</button>
  </div>

</ng-template>
